<template>
	<div class="panel panel-default">
		<div class="panel-header">
			<h4 class="panel-heading">{{ user.data.first_name }}'s Dashboard</h4>
		</div>
		<div class="panel-body">
			Welcome to your dashboard
		</div>
	</div>
</template>
<script>
	import { mapGetters } from 'vuex'

	export default {
		computed: mapGetters({
			user: 'auth/user'
		})
	}
</script>
